on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: R-CMD-Check ${{ matrix.config.os }} (${{ matrix.config.r }} - ${{ matrix.config.rust-version }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release', rust-version: 'stable-msvc', rust-target: 'x86_64-pc-windows-gnu' }
          - {os: windows-latest, r: 'devel',   rust-version: 'stable-msvc', rust-target: 'x86_64-pc-windows-gnu' }
          - {os: windows-latest, r: 'oldrel',  rust-version: 'stable-msvc', rust-target: 'x86_64-pc-windows-gnu', rtools-version: '43' }

          - {os: macOS-latest,   r: 'release', rust-version: 'stable' }

          - {os: ubuntu-latest,  r: 'release', rust-version: 'stable' }
          - {os: ubuntu-latest,  r: 'devel',   rust-version: 'stable' }
          - {os: ubuntu-latest,  r: 'oldrel',  rust-version: 'stable' }

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
      REXTENDR_SKIP_DEV_TESTS: TRUE # TODO: Remove this when extendr/libR-sys issue is resolved

    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.config.rust-version }}
          targets: ${{ matrix.config.rust-target }}

      - uses: baptiste0928/cargo-install@v3
        if: matrix.config.r == 'release'
        with:
          crate: cargo-license

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          rtools-version: ${{ matrix.config.rtools-version }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2
          extra-packages: rcmdcheck

      - uses: r-lib/actions/check-r-package@v2
        with:
          error-on: '"note"'
